/**** Style sheet for Fab Tree 
      21-03-2017 Created by Irshad ****/
@import "http://propeller.in/components/textfield/css/textfield.css";
@import "http://propeller.in/components/card/css/card.css";
@import "http://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://propeller.in/components/icons/css/google-icons.css";
/* Propeller cards */
@import "http://propeller.in/components/card/css/card.css";

/* Propeller tab */
@import "http://propeller.in/components/tab/css/tab.css";
a,
a:hover{
    text-decoration: none;
    font-family: 'Pattaya', sans-serif;
}
h1{
    font-family: 'Fugaz One', cursive;
}
p{
    font-family: 'Work Sans', sans-serif
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #fff;
    color: #000;
}
header{
    position: relative;
}
header .top_bar{
    background: #231f20;
    padding: 10px 0px;
    position: relative;
}
header .top_bar .left{
    float: left;
    color: #fff;
    font-size: 16px;
}
header .top_bar .left p{
    margin-bottom: 0;
}
header .center{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 0;
}
header .center a span{
    padding: 0px 15px;
    display: inline-block;
    font-size: 18px;
    line-height: 45px;
}
header .center a span:hover{
    color: #30a349;
    transition-duration: 0.6s;
}
header .top_bar .right{
    float: right;
    position: relative;
    z-index: 9;
}
header .top_bar .right ul{
    padding: 0;
    margin: 0;
    
}
header .top_bar .right ul li{
    display: inline-block;
    color: #fff;
}
header .top_bar .right ul li a{
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    border-right: 1px solid #fff;
    padding: 0px 10px;
}
header .top_bar .right ul li.support span{
    font-size: 18px;
    padding-left: 10px;
}
header .top_bar .right ul li.support a{
    border: none;
    font-size: 18px;
    font-weight: 600;
}
.support{
    color: #fff;
    font-size: 16px;
}
.support span{
    padding: 10px 0px;
}
header .logo{
    float: left;
}
header .logo img{
    max-width: 100%;
}
header .main_menu{
    margin-top: 30px;
    float: left;
}
header .main_menu ul{
    padding: 0;
    margin: 0;
}
header .main_menu ul li{
    display: inline-block;
}
header .main_menu ul li a{
    position: relative;
    color: #231f20;
    padding: 10px 20px;
    font-size: 16px;
    display: block;
    transition-duration: 0.6s;
}
header .main_menu ul li a .bord_bottom{
    display: block;
    position: absolute;
    width: 0%;
    height: 2px;
    background: #30a349;
     clear: both;
}
header .main_menu ul li a.active,
header .main_menu ul li a:hover{
    color: #30a349;
    transition-duration: 0.6s;
    
}
header .main_menu ul li a.active .bord_bottom,
header .main_menu ul li a:hover .bord_bottom{
    width: 70%;
    transition-duration: 0.6s;
}
header .user_area{
    float: right;
    margin-top: 40px;
}
header .user_area .cart{
    float: right; 
    cursor: pointer;
    font-size: 22px;
}
header .user_area .cart .glyphicon{
    color: #231f20;
}
header .user_area .cart .badge{
    background: #30a349;
    height: 30px;
    width: 30px;
    border-radius: 41px;
    margin-top: -40px;
    margin-left: 15px;
    vertical-align: top;
    line-height: 20px;
    display: block;
    position: absolute;

}
header .user_area .search{
    position: absolute;
    right: 160px;
}
header .user_area .user{
    float: right;
    font-size: 22px;
    margin-right: 30px;
}

/******** Search Effects ******/

/*.searchbox{
    position:relative;
    min-width:50px;
    width:0%;
    top: -3px;
    height:40px;
    float:right;
    overflow:hidden;
    
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:#e8e8e8;
    width:100%;
    height:40px;
    margin:0;
    padding:0px 55px 0px 20px;
    font-size:18px;
    color:#30a349;
}

.searchbox-icon,
.searchbox-submit{
    width:50px;
    height:40px;
    display:block;
    position:absolute;
    top:0;
    font-family:verdana;
    font-size:22px;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:40px;
    text-align:center;
    cursor:pointer;
    color:#231f20;
    background:#fff;
}



.searchbox-open{
    width:100%;
}

.byline{
  position:absolute;
  top:150px;
  left:30%;
  text-align:center;
  font-size:18px;
}
.byline a{
  text-decoration:none;
  color: #d74b4b;
}*/


/************ **************/
.catgories_margin{
    position: relative;
}
.catgories_wrap{
    width: 250px;
    position: relative;
}
.catgories{
    position: absolute;
    background: #30a349;
    color: #fff;
    padding: 10px 15px;
    z-index: 99;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
}
.catgories h3{
    float: left;
    margin: 0;
    font-family: 'Pattaya', sans-serif;
    font-size: 20px;    
    line-height: 1.6;
}
.catgories span{
    float: right;
}
.catgories_wrap .cat_sub{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 53px;
}
.catgories_wrap .cat_sub a{
    background: #fff;
    width: 100%;
    height: 130px;
    display: block;
    text-align: center;
    line-height: 130px;
    color: #30a349;
    border: 1px solid #fff;
    font-size: 22px;
    transition-duration: 0.6s;
}
.catgories_wrap .cat_sub a:hover{
    border-color: #30a349;
    background: #231f20;
    transition-duration: 0.6s;
}
.catgories_itmes{
    display: none;
    position: absolute;
    width: 76%;
    height: 445px;
    top: 0;
    margin-left: 250px;
    background: #30a349;
    z-index: 99;
    padding: 30px 20px;
}


/*************** Catgories Nav Styles *************/

.menu-trigger{
    background: #30a349;
    color: #fff;
    background: #30a349;
    color: #fff;
    display: block;
    width: 250px;
    padding: 10px 20px;
    font-size: 20px;
    position: absolute;
    z-index: 9;
    top: 0;
}
.menu-trigger:before{
    display: none;
}
.menu-trigger span{
    float: right;
}
.scroller{
    overflow-y: hidden;
    overflow: hidden;
}

/************ Slider ********/

.carousel .item{
    /*min-height: 545px;*/
    min-height: 350px;
}
.carousel-caption h3{
    font-family: 'Pattaya', sans-serif;
    font-size: 45px;
    background: none;
    text-align: left;
}
.carousel-caption{
    top: 35%;
    left: 20%;
}

/******** Collection Tab **********/

.product_collection{
    padding: 80px 0px;
    width: 100%;
    background: #fff;
}
.product_collection_wrap{
    
}
.product_collection_wrap .row{
    margin: 0;
}
.collection_left{
    width: 80%;
    float: left;
}
.collection_right{
    width: 19%;
    background: #fff;
    float: right;
    height: 410px;
}
.collection_box_first{
    width: 59.5%;
    height: 200px;
    background: #fff;
    float: left;
}
.collection_box_second{
    width: 39.5%;
    height: 200px;
    float: right;
}
.product_collection_wrap .row_2{
    margin-top: 10px;
}
.row_2 .collection_box_second{
    float: left;
}
.row_2 .collection_box_first{
    float: right;
}
.collection_right,
.collection_box_first,
.collection_box_second{
    padding: 20px;
    box-shadow: 0px 0px 10px 5px #e0e0e0;
    background: #fff;
}
.collection_right .border_box,
.collection_box_first .border_box,
.collection_box_second .border_box{
    border: 2px solid #ddd;
    position: relative;
    height: 100%;
}
.collection_right .border_box h3,
.collection_box_first .border_box h3,
.collection_box_second .border_box h3{
    font-size: 30px;/*
    line-height: 160px;*/
    margin: 0;
    font-family: 'Pattaya', sans-serif;
    color: #a4a4a4;
}
.collection_right .border_box .image_box,
.collection_box_first .border_box .image_box,
.collection_box_second .border_box .image_box{
    position: absolute;
    bottom: 0;
    right: 0;
}
.collection_right .border_box .image_box img,
.collection_box_first .border_box .image_box img,
.collection_box_second .border_box .image_box img{
    max-width: 100%;
}
.collection_left .new_ariv_tab h3{
    margin-left: 35px;
    margin-top: 65px;
}
.collection_left .wom_coll_tab h3{
    margin-left: -109px;
    text-align: center;
    margin-top: 45px;
}
.collection_left .kid_coll_tab h3{
    margin-left: -109px;
    text-align: center;
    margin-top: 45px;
}
.collection_left .trnd_coll_tab h3{
    margin-left: 30px;
    margin-top: 65px;
}
.men_coll_tab h3{
    position: absolute;
    bottom: 30px;
    text-align: center;
}
.men_coll_tab  .border_box .image_box{
    top: -20px;
}
.collection_left a{
    
}
/*.collection_right, 
.collection_box_first, 
.collection_box_second*/
a:hover .collection_right,
.collection_left a:hover .collection_box_first,
.collection_left a:hover .collection_box_second{
    background: #30a349;
    transition-duration: 0.6s;
}
a:hover .collection_right h3,
.collection_left a:hover .collection_box_first h3,
.collection_left a:hover .collection_box_second h3{
    color: #fff;
    transition-duration: 0.6s;
}
/************ New Arrivals ************/


.new_arrivals{
    background: url('../images/new_bg_41510852.jpg') center no-repeat;
    background-size: cover;
    padding: 50px 0px;
}
.new_arrivals .caption{
    background: url('../images/Rounded-Rectangle-5.png') center no-repeat;
    text-align: center;
    margin-bottom: 50px
}
.new_arrivals .caption h1{
    font-size: 36px;
    font-family: 'Pattaya', sans-serif;
    color: #fff;
}
.new_arrivals .product_slid{
    
}/*
.new_arrivals .product_slid .bx-wrapper{
    background: none;
    border: none;
    box-shadow: none;
}
.new_arrivals .product_slid .amazingcarousel-item-container .bxslider_carousel li{
    background: #fff;
    position: relative;
}*/
.new_arrivals .product_slid .amazingcarousel-item-container .product_name{
    text-align: center;
    padding-bottom: 10px;
}
.new_arrivals .product_slid .amazingcarousel-item-container .product_name h4{
    color: #595959;
    font-size: 16px;
}
.new_arrivals .product_slid .amazingcarousel-item-container .product_name span{
    color: #30a349;
    font-size: 20px;
}
.new_arrivals .product_slid .amazingcarousel-item-container .product_name b{
    color: #000;
    font-size: 18px;
    font-family: 'Pattaya', sans-serif;
}
.new_arrivals .product_slid .amazingcarousel-item-container .pro_cart{
    background: #30a349;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
#amazingcarousel-1 .amazingcarousel-item-container{
    padding: 0;
    border: 0;
    margin: 0px 5px !important;
}
.amazingcarousel-item-bottom-shadow{
    display: none !important;
}
.new_arrivals .product_slid .amazingcarousel-item-container .pro_cart:hover{
    
}
.product_catgories{
    padding: 50px 0px;
}
.product_catgories .best_selling{
    
}
.product_catgories .best_selling h3{
    color: #000;
    font-weight: 600;
}
.product_catgories .best_selling .line{
    background: #000;
    width: 30%;
    height: 2px;
    display: block;
}
.best_selling{
    color: #000;
}
.best_selling img{
    max-width: 100%;
}
.best_selling h4{
    font-size: 20px;
}
.best_selling span{
    font-size: 16px;
    font-family: 'Pattaya', sans-serif;
    padding-right: 15px;
}
.best_selling span i{
    color: #30a349;
}
.best_selling .old i,
.best_selling .old{
    text-decoration: line-through!important;
    color: #7c7c7c;
}
.best_selling .pro_cart{
    
}
.best_selling .pro_cart span{
    width: 45px;
    height: 45px;
    line-height: 45px;
    border: 1px solid #7c7c7c;
    border-radius: 50px;
    display: block;
    text-align: center;
    padding: 0;
    margin-top: 15px;
    cursor: pointer;
}
.best_selling .pro_cart span:hover,
.best_selling .pro_cart span:hover i{
    background: #30a349;
    transition-duration: 0.6s;
    color: #fff;
    border-color: #fff;
}
.best_selling .pro_cart span i{
    color: #7c7c7c;
}
.best_selling .row{
    margin-top: 20px;
}

.best_selling a{
    color: #7c7c7c;
    display: block;
    border-top: 1px solid #7c7c7c;
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    padding: 10px 0px;
    position: relative;
}
.best_selling a:hover{
    transition-duration: 0.6s;
    color: #30a349;
}
.best_selling a span{
    position: absolute;    
    margin-left: 10px;
    margin-top: 3px;
}
.best_selling a:hover span{
    animation-name: movearow;
    animation-duration: 0.6s;
}
@keyframes movearow {
    from {left: 0;}
    to {left: 60%;}
}
.bx-wrapper{
    margin-bottom: 0;
}
.vert_bxslider{
    padding: 0;
    padding: 0;
}
.bx-wrapper .bx-controls-direction a{
    position: absolute;
    top: 50%;
    margin-top: 0px;
    outline: 0;
    width: 40px;
    height: 40px;
    text-indent: inherit;
    z-index: 999;
    top: -50px;
    transition-duration: 0.6s;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 29px;
}
.bx-wrapper .bx-prev {
    right: 55px;
    left: inherit;
    background: url(images/controls.png) 0 -32px no-repeat;
}
.best_selling .bx-wrapper .bx-controls-direction a{
    color: #000;
    border: 0;
}
.carousel .item{
    max-height: 650px;
}
.mp-menu h2{
    color: #fff;
}
.mp-level{
    background: #231f20;
}
.discover_us .tabs .content .map{
    height: 100%;
}







/***** Discover Us Tab View ********/

.tabs {
  margin: 0px 20px;
  position: relative;
  /*background: #EFF1E4;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);*/
  width: 100%;
}

.tabs nav {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  /*background: #AD9897;
  color: #6C5D5D;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);*/
  width: 150px;
}

.tabs nav a {
  padding: 20px 0px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.tabs nav a:hover,
.tabs nav a.selected {
  /*background: #6C5D5D;
  color: #AD9897;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);*/
}

.tabs .content {
  padding: 20px 0px;
  position: absolute;
  top: 0px;
  left: 150px;
  color: #6C5D5D;
  width: 0px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.1s linear 0s;
}

.tabs .content.visible {
  padding: 20px;
  width: calc(100% - 150px);
  overflow: scroll;
  opacity: 1;
}

.tabs .content p { padding-bottom: 2px; }

.tabs .content p:last-of-type { padding-bottom: 0px; }

.discover_us{
    background: #191c1a;
    padding: 50px 0px;
    text-align: center;
}
.discover_us a{
    text-align: center;
    display: inline-block;
    border: 1px solid #fff;
    margin: 0 auto;
    padding: 5px 35px;
    margin-top: 30px;
    transition-duration: 0.6s;
}
.discover_us a:hover{
    background: #fff;
    transition-duration: 0.6s;
    color: #30a349;
}
.discover_us .tabs nav{
    width: 300px;
}
.discover_us .tabs nav a{
    background: #fff;
    color: #000;
    margin: 10px 20px;
    padding: 10px 0px;
}
.discover_us .tabs .content{
    left: 300px;
    overflow: hidden;
    background: #fff;
    padding: 15px;
}
.discover_us .tabs .content.visible{
    width: calc(100% - 350px);
}
.discover_us .tabs nav a .green_row{
    border-left: 2px solid #30a349;
}
.discover_us .tabs nav a h3{
    text-align: left;
}
.discover_us .tabs nav a img{
    max-width: 100%;
}
.discover_us .caption{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.discover_us .caption h1{
    font-size: 33px;
    font-family: 'Pattaya', sans-serif;
}
.copy{
    background: #191c1a;
    color: #fff;
    line-height: 50px;
}
.copy p{
    float: left;
}
.copy span{
    float: right;
}
.less{
    padding: 0px 10px;
    height: 70px;
}
.scroll-btn{
    background: #30a349;
}
.searcharea{
    position: absolute;
    bottom: -95px;
    z-index: 999;
    padding: 10px;
    /*background: rgba(255, 255, 255, 0.70);*/
    background: rgba(255, 255, 255, 1);
    right: 0;
    display: none;
    border-top: 1px solid #30a349;
}
.hide{
    display: flex !important;
}
.searcharea .pmd-textfield input.form-control{
    float: left;
    width: 250px;
    height: 45px;
    position: relative;
    color: #000;
}
.searcharea .pmd-textfield-focused{
    top: 45px;
}
.form-group.pmd-textfield{
    margin-bottom: 0;
}
.searcharea button{
    float: right;
    width: 50px;
    height: 45px;
    background: #30a349;
}
.search-icon{
    width: 45px;
    height: 45px;
    font-size: 20px;
    margin-right: 20px;
    color: #231f20;
    cursor: pointer;
}
#mobilemenu{
    max-width: 100%;
    right: -767px;
    display: none !important;
}
#mobilemenu .mobilemenu-wrapper .mobilemenu-trigger{
    display: none;
}
#mobilemenu .mobilemenu-wrapper .menu ul{
    text-align: center;
    margin-top: 50px;
}
#mobilemenu .mobilemenu-wrapper .menu ul a{
    font-family: 'Work Sans', sans-serif
}
.mobilemenu-view .right{
    margin: 0 auto;
    text-align: center;
}
.mobilemenu-view .right .support{
    font-size: 16px;
}
.mobilemenu-view .right .support span{
    padding: 0px 10px;
}
.mobilemenu-view .right li{
    display: inline-block;
    padding: 0px 10px;
}
.mobilemenu-view .right li a{
    
    font-family: 'Work Sans', sans-serif
}
.product_listing_area{
    padding: 50px 0px;
}
.product_listing_area .row{
    margin-top: 15px;
}
.product_box{
    text-align: center;
    box-shadow: 0px 0px 14px 0px #ccc
}
.product_box img{
    max-width: 100%;
}
.product_box h4{
    color: #595959;
    font-size: 16px;
}
.product_box span {
    color: #30a349;
    font-size: 20px;
}
.product_box b {
    color: #000;
    font-size: 18px;
    font-family: 'Pattaya', sans-serif;
}
.product_box .pro_cart {
    background: #30a349;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.product_box .pro_cart span{
    color: #fff;
}
.inner_page_area{
    padding: 80px 0px;
    background: url('../images/denim-fabric.jpg') center no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.inner_page_area h1{
    font-size: 36px;
}
.product_box .old i, .product_box .old {
    text-decoration: line-through!important;
    color: #7c7c7c;
    
}
.product_box .old b{
    color: #7c7c7c;
    margin-right: 15px;
}
.inner_page_area .caption{
    background: url(../images/Rounded-Rectangle-5.png) center no-repeat;
    text-align: center;
}
.product_pop_up{
    background: #fff;
    display: block;
}

.piclist{
        margin-top: 30px;
    }
    .piclist li{
        display: inline-block;
        width: 50px;
        height: 50px;
    }
    .piclist li img{
        width: 100%;
        height: auto;
    }

    /* custom style */
    .picZoomer-pic-wp,
    .picZoomer-zoom-wp{
        border: 1px solid #fff;
    }

.product_pop_model{
    margin-top: 30px !important;
    background: #fff;
    padding: 15px;
    height: 605px;
}
.modal-content{
    border: none;
    box-shadow: none;
}
.bzoom_zoom_area{
    opacity: 1 !important;
}
.product_details{
    
}
.product_details p{
    margin-bottom: 30px;
}
.product_details span {
    color: #30a349;
    font-size: 20px;
}
.product_details .old i, .product_details .old {
    text-decoration: line-through!important;
    color: #7c7c7c;
}
.product_details .old{
    margin-right: 30px;
}
.product_details .old b{
    color: #7c7c7c;
}
.product_details b {
    color: #000;
    font-size: 18px;
    font-family: 'Pattaya', sans-serif;
}
.product_details .pro_cart{
    background: #30a349;
    padding: 10px 0px;
    text-align: center;
    color: #fff;
    margin-top: 30px;
}
.product_details .pro_cart span{
    color: #fff;
}
.product_pop_model .product_details{
        padding-left: 50px;
    }

.product_pop_model .close{
    float: none;
}
#loadMore {
    padding: 10px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    margin:0 auto;
    display: block;
    width: 150px;
    margin-top: 50px;
}
#loadMore:hover {
    background-color: #fff;
    color: #333
}
.product_listing_area .row{
    display: none;
}

.testimonial_area{
    padding: 50px 0px;
}

.about_fab{
    padding: 50px 0px;   
    padding-top: 80px;
    box-shadow: inset 0 2px 12px 0px #d6d6d6;
}
.about_cont_wrap{
    width: 70%;
    margin: 0 auto;
    border: 1px solid #30a349;
    padding: 30px;
    border-style: dashed;
}
.about_cont_wrap h1{
    font-size: 33px;
    color: #30a349;
    padding-bottom: 10px;
    border-bottom: 1px dashed #30a349;
}
.about_fab p{
    line-height: 28px;
    text-align: justify;
}
.mision{
    padding: 50px 0px;
    background:#262223;
    color: #fff;
}
.mision h1{
    color: #30a349;
    border-bottom: 1px solid #30a349;
    padding-bottom: 10px;
}
.mision p{
    line-height: 26px;
}

.Stores_wrap{
    color: #000;
    background: #262223;
    padding: 50px 0px;
}
.Stores_wrap .stores_details{
    padding: 10px 0px;
    color: #000;
}
.Stores_wrap .stores_details p{
    font-size: 16px;
}
.Stores_wrap .stores_details a{
    color: #000;
    font-size: 16px;    
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}
.panel-group.pmd-accordion .panel > .panel-heading + .panel-collapse > .panel-body{
    border-top: 1px solid #30a349;
}
.panel-group.pmd-accordion .panel > .panel-heading a{
    font-size: 20px;
}
.stores_cont_wrap{
    width: 100%;
    text-align: center;
    padding: 10px 30px;
}
.stores_cont_wrap p{
    text-align: center;
}
.newsroom{
    padding-bottom: 50px;
    color: #000;
}
.newsroom a{
    color: #000;
    padding: 0px 10px;
}
.gridder-list{
    width: 31.33333%;
}
.newsroom .news_temp{
    position: relative;
    box-shadow: 0 0 15px #ccc;
}
.newsroom .news_temp img{
    max-width: 100%
}
.newsroom .news_temp .date_time{
    /*color: #fff;
    position: absolute;
    top: 20px;
    right: 10px;*/
    font-size: 14px;
}
.newsroom .news_temp .cap_area{
    padding: 0px 15px;
    padding-bottom: 15px;
}
.gridder-navigation{
    float: right;
    margin-top: -20px;
}
.gridder-expanded-content p{
    font-size: 14px;
}
.gridder-expanded-content h2{
    font-size: 28px;
}
.gridder-expanded-content .date_time{
    font-size: 14px;
}
.contact_forms{
    background: #191c1a;
    padding: 30px 0px;
    color: #fff;
}
.contact_forms .panel-group{
    width: 60%;
    color: #fff;
    margin: auto;
}
.contact_forms .panel-group .panel{
    background: rgba(255, 255, 255, 0.15);
}
.contact_forms .panel-group .panel i{
    color: #fff;
}
.contact_forms .panel-group.pmd-accordion .panel > .panel-heading a{
    color: #fff;
    background: #30a349;
    text-align: center;
}
.contact_forms .pmd-textfield-floating-label label{
    color: #fff;
}
.contact_forms .panel-group .panel form{
    width: 80%;
    margin: 0 auto;
}
.contact_forms .pmd-textfield input.form-control,
.contact_forms .pmd-textfield textarea.form-control{
    color: #fff
}
.contact_forms .panel-group .panel form button{
    margin: 0 auto;
    display: block;
    margin-top: 15px;
}








.testimonial-bg{
    border: 10px solid #30a349;
    padding: 30px 40px;
    text-align: center;
    position: relative;
}
.testimonial-bg:before{
    content: "\f10d";
    font-family: "fontawesome";
    width: 75px;
    height: 75px;
    line-height: 75px;
    background: #fff;
    text-align: center;
    font-size: 50px;
    color: #3c414c;
    position: absolute;
    top: -40px;
    left: 2%;
}
.testimonial{
    padding: 0 15px;
}
.testimonial .description{
    font-size: 20px;
    font-weight:400;
    font-style: italic;
    color: #848484;
    line-height: 30px;
    padding-bottom: 25px;
    margin-bottom: 15px;
    position: relative;
}
.testimonial .description:before{
    content: "";
    width: 75%;
    border-top: 1px solid #ddd;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.testimonial .description:after{
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    bottom: -10px;
    left: 50%;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    transform: translateX(-50%) rotate(45deg);
}
.testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 25px auto;
    overflow: hidden;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .title{
    display: inline-block;
    font-size: 23px;
    font-weight: 700;
    color: #848484;
    text-transform: capitalize;
    margin: 0;
}
.testimonial .post{
    display: inline-block;
    font-size: 20px;
    color: #848484;
}
.owl-theme .owl-controls{
    background: #fff;
    margin-top: 10px;
    position: absolute;
    bottom: -30%;
    right: 0;
}
.owl-theme .owl-controls .owl-buttons div{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #34363b;
    opacity: 1;
    padding: 0;
}
.owl-prev:before,
.owl-next:before{
    content: "\f104";
    font-family: "fontawesome";
    font-size: 23px;
    font-weight: 700;
    color: #fff;
}
.owl-next:before{
    content:"\f105";
}
@media only screen and (max-width:767px){
    .testimonial-bg{ padding: 50px 40px; }
    .owl-theme .owl-controls{ bottom: -22%; }
}
@media only screen and (max-width:480px){
    .testimonial-bg:before{
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 40px;
    }
    .testimonial-bg{ padding: 30px 10px; }
    .owl-theme .owl-controls{ bottom: -15%; }
}
@media only screen and (max-width:360px){
    .testimonial .title,
    .testimonial .post{
        font-size: 16px;
    }
    .owl-theme .owl-controls{ bottom: -12%; }
}


.about_fab .cop h3{
    font-weight: 600;
    font-size: 22px;
}
.about_fab .cop p{
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 600;
}
.about_fab .cop a{
    color: #5a5a5a;
    font-family: 'Work Sans', sans-serif;
}
.about_fab .cop a:hover{
    color: #30a349;
}




























@media only screen and (min-width:992px) and (max-width:1199px) {
    header .user_area .search{
        right: 70px;
    }
    .collection_left .trnd_coll_tab h3 {
        margin-left: 10px;
        margin-top: 37px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    header .main_menu ul li a{
        padding: 10px 12px;
    }
    header .main_menu{
        margin-top: 50px;
    }
    header .user_area{
        margin-top: -80px;
    }
    header .user_area .search{
        right: 70px;
    }
    .searcharea{
        bottom: -18px;
        right: 50px;
    }
    .collection_left{
        width: 100%;
    }
    .collection_right{
        width: 100%;
        height: 200px;
        margin-top: 10px;
    }
    .collection_right .border_box .image_box img{
        max-width: 45%;
    }
    .men_coll_tab  .border_box .image_box{
        top: -25px;
        text-align: right;
    }
    .men_coll_tab h3{
        left: 100px;
        bottom: 50px;
    }
    .collection_left .trnd_coll_tab h3{
        margin-left: 0px;
        margin-top: 40px;
    }
}
@media only screen and (max-width:767px){
    header .main_menu{
        display: none;
    }
    .carousel-caption h3{
        padding: 0;
    }
    .carousel .item{
        min-height: 220px;
    }
    .carousel-caption{
        top: 20%;
    }
    .carousel{
        margin-top: 52px;
    }
    header .user_area .search{
        right: 60px;
    }
    .collection_left{
        width: 100%;
    }
    .collection_box_second ,
    .collection_box_first{
        width: 100%;
        margin-top: 15px;
    }
    .collection_right{
        width: 100%;
        height: 200px;
    }
    .collection_right .border_box .image_box img{
        max-height: 100%;
    }
    .product_collection{
        padding: 30px 0px;
    }
    .discover_us .tabs nav{
        width: 165px;
    }
    .discover_us .tabs .content.visible{
        width: calc(100% - 200px);
    }
    .discover_us .tabs .content{
        left: 160px;
    }
    .discover_us .tabs nav a .green_row{
        border-left: none;
        margin-left: 5px;
    }
    header .center a span{
        padding: 0px 10px;
    }
    .searcharea{
        bottom: -147px;
        right: -60px;
    }
    #mobilemenu .mobilemenu-wrapper .mobilemenu-trigger{
        display: block;
        margin-top: 139px;
    }
    #mobilemenu{
        display: block !important;
    }
    .bzoom .bzoom_zoom_area, .bzoom_zoom_area,.bzoom_wrap .bzoom_magnifier{
        display: none !important;
    }
    .bzoom .bzoom_thumb{
        width: 100% !important;
        text-align: center;
        opacity: 1 !important;
    }
    .bzoom{
        float: none !important;
    }
    .bzoom_wrap .bzoom_small_thumbs ul,.bzoom_small_thumbs{
        width: 100% !important;
    }
    /*.product_pop_model{
        height: 100%;
    }*/
    .product_images{
        position: relative;
        z-index: 9;
    }
    .product_details {
        background: #fff;
        margin-top: 559px;
    }
    .product_pop_model .product_details{
        padding-left: 0px;
    }
    .modal{
        z-index: 9999;
    }
    .about_cont_wrap{
        width: 90%;
    }
    .contact_forms .panel-group{
        width: 90%;
    }
}

@media only screen and (max-width:767px){
    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
        max-width: 170%;
    }
    .carousel-caption {
        top: -5%;
    }
    .menu-trigger{
        width: 205px;
    }
    #mobilemenu .mobilemenu-wrapper .mobilemenu-trigger{
        margin-top: 139px;
    }
    .searcharea .pmd-textfield input.form-control{
        width: 200px;
    }
    #mobilemenu .mobilemenu-wrapper .mobilemenu-view{
        padding-top: 20px;
    }
    header .center{
        left: auto;
    }
    header .top_bar .right{
        display: none;
    }
    .discover_us .container{
        padding: 0;
    }
    .discover_us .tabs nav a h3{
        margin: 5px 0px;
        text-align: center;
    }
    .discover_us .tabs nav a{
        margin: 5px 0px;
    }
    .discover_us .tabs nav {
        width: 100%;
        padding-right: 35px;
    }
    .discover_us .tabs .content.visible{
        display: none;
    }
    .product_listing_area .col-sm-3{
        width: 50%;
        float: left;
    }
    .product_box{
        margin-bottom: 20px;
    }
    .product_pop_model{
        height: auto;
    }
    .gridder-list{
        width: 49%;
    }
    .collection_left .trnd_coll_tab h3,
    .collection_left .new_ariv_tab h3{
        position: absolute;
        z-index: 99;
    }
    
}

@media only screen and (max-width:407px){
    .bzoom_small_thumbs img{
        width: 60px !important;
        height: 90px !important;
    }
    .bzoom_thumb_image{
        max-width:100% !important;
        height: 100% !important;
    }
    .product_pop_model .col-xs-12{
        padding: 0;
    }
    .product_listing_area .col-sm-3{
        width: 100%;
        float: left;
    }
    #mobilemenu .mobilemenu-wrapper .mobilemenu-trigger{
            margin-top: 146px;
            height: 52px;
    }
    .product_box{
        margin-bottom: 15px;
    }
    .gridder-list{
        width: 100%;
    }
    .copy{
        line-height: normal;
    }
    .copy p{
        float: none;
        margin-bottom: 30px;
    }
    .copy span{
        display: block;
        text-align: center;
        float: none;
    }
}


/*************** 11 - 04 - 2017 ******************/
.cart_details{
    padding: 30px 0px;
}
.cart_details img{
    max-width: 100%;
}
.cart_details .row{
    padding: 10px 0px;
}

@media only screen and (max-width:767px){
    .cart_details .row{
        width: 48%;
        display: inline-block
    }
}
@media only screen and (max-width:520px){
    .cart_details .row{
        width: 100%;
        display: inline-block
    }
}
.amazingcarousel-prev,
.amazingcarousel-next{
    color: #fff;
    top: 0 !important;
}
.amazingcarousel-prev{
    right: 0;
    left: inherit !important;
}
.amazingcarousel-next{
    right: 3% !important;
}
.amazingcarousel-image{
    cursor: pointer;
}
.xzoom-source,
.xzoom-preview{
    z-index: 9999999;
}
.xzoom-preview{
    width: 320px;
}
.xzoom{
    max-width: 100%;
}
.product_images{
    padding-left: 20px;
}
@media (min-width: 768px){
    .modal-dialog {
        width: 650px;
        margin: 30px auto;
    }
}